/* Here goes your CSS */
body {
  background-color:#EBEBEB;
  font-family: 'Open Sans', sans-serif;
}

h1, a:hover {
  color: #DD5555;
}

h2, h3 {
  color: #555555;
  font-family: 'Montserrat', serif;
  font-weight: lighter;
}

a {
  color: #666666;
  text-decoration: none;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 30px 50px 30px 50px;
  margin: 15px auto;
  box-shadow: 3px 3px 2px #CFCFCF;
  border-radius: 5px;
}

.description {
  padding-bottom: 10px;
}

.text-center {
  text-align: center;
}


.img-circle {
  border-radius: 50%;
  transition: all 0.5s;
}

.img-circle:hover {
  transform: scale(1.2, 1.2);
}

.btn-red {
  background-color: #DD5555;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  color: white;
  transition: all 1s;
}

.btn-red:hover {
  background-color: white;
  color: #DD5555;
  border: 1px solid #DD5555;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.card-list {
  padding-left: 0px;
  list-style: none;
}

.card-list i {
  font-size: 30px;
}

h3 {
  color: #333333;
  line-height: 5px;
}

.card-list img {
  padding-top: 30px;
}

.image {
  padding-right: 20px;
}

.sports-description {
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: auto;
}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #384047;
}

#sidebar li {
  list-style: none;
}

#sidebar i {
  color: #888888;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
}

#sidebar i:hover {
  color: white;
}

#page-content {
  margin-left: 100px;
}
